.fondo{
	
	background-color: #0DA7FF ;
	top: 0px;
	left: 0px;
}

.esquina{
	
	bottom: -5px;
	left: -120px;
	position: absolute;
}

.miguel{
	width: 550px;
	height: 300px;
	position: relative;
}

.fon{
	top: 100px;
	left: 100px;
	width: 1000px;
	height: 550px;
	position: absolute;
	background-image: url(fondo.jpg);
	background-size: cover;
	border-radius: 50px;
}

.estanteb{
	
	top: 50px;
	left: 330px;
	width: 250px;
	height: 220px;
	position: relative;

}

.estante{
	background-color: white;
	top: 100px;
	left: 530px;
	width: 250px;
	height: 70px;
	position: absolute;
	border-color: black;
	border-style: solid;
	border-width: 10px;
}

.patin{
	background-color: white;
	bottom: 100px;
	left: 530px;
	width: 250px;
	height: 50px;
	position: absolute;
	border-color: black;
	border-style: solid;
	border-width: 10px;
}

.silla{
	background-color: white;
	top: 200px;
	left: 530px;
	width: 250px;
	height: 60px;
	position: absolute;
	border-color: black;
	border-style: solid;
	border-width: 10px;
}

.patinb{
	width: 100px;
	height: 100px;
	bottom: 10px;
	left: 350px;
	position: absolute; 
}

.sillab{
	
	width: 270px;
	height: 250px;
	top: 140px;
	right: 50px;
	position: absolute; 
}

.no{
	display: none;
}

.play{
	bottom: 10px;
	left: 150px;
	position: absolute;
	width: 150px;
	height: 60px;
	
}

.pause{
	bottom: 15px;
	left: 330px;
	position: absolute;
	width: 150px;
	height: 60px;

}

.sub{
	bottom: 25px;
	left: 600px;
	position: absolute;
	width: 300px;
	height: 60px;
}

.baja{
	bottom: 35px;
	left: 850px;
	position: absolute;
	width: 300px;
	height: 60px;
}

.ui{
	top: 0px;
	right: -20px;
	width: 300px;
	height: 100px;
	position: absolute;
}

.home{
	width: 300px;
	height: 100px;
	bottom: 350px;
	right: 100px;
	position: absolute;
	
}

.fin{
	width: 300px;
	height: 100px;
	bottom: 150px;
	right: 100px;
	position: absolute;
	
}

.borde{
	top: 80px;
	left: 50px;
	width: 1100px;
	height: 590px;
	position: absolute;
	background-color: #066DFA  ;
	border-radius: 100px;
}

.mus{
	bottom: 10px;
	left: 10px;
	width: 200px;
	height: 100px;
	position: absolute;
}

.vol{
	bottom: 25px;
	left: 500px;
	position: absolute;
	width: 200px;
	height: 100px;
}
.inter{

	right: 100px;
	top: 150px;
	position: absolute;
	width: 250px;
	height: 80px;
	background-color: white;
	font-size: 70px;
	border-radius: 30px;
	font-family: sans-serif;
}

.interb{
	right: 80px;
	top: 130px;
	position: absolute;
	width: 290px;
	height: 120px;
	background-color: #066DFA;
	border-radius: 30px;
	
}

.siguiente{
	top: 100px;
	left: 100px;
	width: 1000px;
	height: 551px;
	position: absolute;
	background-color: black;
	border-radius: 50px;
}

.volv{
	right: 580px;
	top: 300px;
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 30px;
}

.sig{
	top: 100px;
	left: 50px;
	position: absolute;
	width: 100px;
	height: 100px;
}

.prog{
	position: absolute;
	top: 30px;
	left: 100px;
	width: 600px;
	height: 500px;
}

.papa{
	height: 500px;
	bottom: 139px;
	right: 290px;
	position: absolute;
}

.dialogopapa{
	background-color: white;
	top: 400px;
	left: 530px;
	width: 250px;
	height: 60px;
	position: absolute;
	border-color: black;
	border-style: solid;
	border-width: 5px;
}

.nombre{
	background-color: white;
	top: 365px;
	left: 500px;
	width: 60px;
	height: 30px;
	position: absolute;
	border-color: black;
	border-style: solid;
	border-width: 5px;
}

.bd{
	background-color: blue;
	top: 500px;
	left: 530px;
	width: 100px;
	height: 25px;
	position: absolute;
	border-color: black;
	border-style: solid;
	border-width: 5px;
	border-radius: 50px;
	color: white;
	text-align: justify; 
  	text-align-last: center;
  	font-size: 20px;
}
